@model WalletDto

@{
    ViewData["Title"] = "Wallet";
    var counter = 1;
}

<partial name="Wallet" />

@if (Model.Budget > 0)
{
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">Nr.</th>
                <th scope="col">Name</th>
                <th scope="col">Amount</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <partial name="ItemAdd" model="new Wallet.Domain.Handlers.Items.AddItemCommand { WalletId = Model.Id }" />

            @foreach (var item in Model.Items)
            {
                counter++;

                <tr>
                    <th scope="row">@counter</th>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Amount
                    </td>
                    <td>
                        @Html.ActionLink("Delete", "DelateItem" ,"Wallet", new { id = item.Id }, new {@class ="btn btn-dark float-right" })
                    </td>
                </tr>
            }
           
        </tbody>
    </table>
   
}
@*<table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">Nr.</th>
                <th scope="col">Name</th>
                <th scope="col">Amount</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <th scope="row">1</th>
                <td>
                    <input type="text" asp-for="Item.Name" />
                </td>
                <td>
                    <input type="number" asp-for="Item.Amount" />
                </td>
            </tr>
            <tr>
                @foreach (var it in Model.Items)
                {
                    counter++;
                    <th scope="row">counter</th>
                    <td>
                        <input type="text" asp-for=@it.Name />
                    </td>
                    <td>
                        <input type="number" asp-for=@it.Amount />
                    </td>
                }
            </tr>
        </tbody>
    </table>


    <input type="submit" class="btn btn-primary float-right" value="Send">*@

